/* .HomeMainContainer {
  margin-left: auto;
  height: 100%;
  width: calc(100% - 13%);
  display: flex;
  margin-right: 15px;
  justify-content: center;
} */

.VideoPlayerContainer {
  width: 95%;
}

.AllVideoContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  scroll-behavior: smooth;
  justify-content: flex-start;
}

.Animation {
  transition: transform 0.3s ease-in-out;
}

.Animation:hover {
  transform: scale(0.99);
  transition: transform 0.2s ease-in-out;
}

.VideoPlayerContainer-Heading {
  margin-bottom: 12px;
}

.AllVideoContainer::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .VideoPlayerContainer {
    width: 97%;
  }
}
